:host {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background: rgb(192, 192, 98);
    padding: 10px;

    li {
        list-style: none;
        font-weight: 500;
    }
}